@import 'Globals/Global.scss';

$spacing: 15px;
$spacingSmall: 5px;

:local(.Container) {
    display: inline-block;
    @include headerHeight();
    position: relative;
    overflow-y: hidden;

    > button {
        outline: none;
        position: relative;
        left: 0;
        background: transparent;
        border: none;
        appearance: none;
        padding: 0;
        margin: 0;

        .fa-user-circle {
            margin-top: ( $headerHeight - $spacing * 1.7) / 2;
            font-size: $headerHeight - $spacing * 1.7;
            @include respond-to(xs) {
                margin-top: $spacingSmall;
                font-size: $headerHeightSmall - $spacingSmall * 2;
            }
            @include respond-to(s) {
                margin-top: $spacingSmall;
                font-size: $headerHeightSmall - $spacingSmall * 2;
            }

            color: getTextColor($colorDark);
        }

        .fa-chevron-up,
        .fa-chevron-down {
            font-size: 10px;
            color: getTextColor($colorDark);
            margin-left: 5px;
            top: -3px;
            position: relative;

            @include respond-to(s) { 
                display: none;
            }

            @include respond-to(xs) { 
                display: none;
            }
        }
    }
}

:local(.Name) {
    display: inline-block;
    padding-left: 5px;
    color: getTextColor($colorDark);
    top: -3px;
    position: relative;

    @include respond-to(s) { 
        display: none;
    }

    @include respond-to(xs) { 
        display: none;
    }
}

:local(.ProfileImage) {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    position: relative;
    top: 3px;
    margin-top: 10px;
    background-repeat: no-repeat;
}

:local(.DropDownOverlay) {
    position: fixed;
    left: 0;
    top: $headerHeight;
    right: 0;
    bottom: 0;
    background: $colorGray;
    opacity: 0.6;
    z-index: 1;
    display: none;

    @include respond-to(xs) { 
        top: $headerHeightSmall;
        display: block;
    }
    @include respond-to(s) { 
        top: $headerHeightSmall;
    }
}

:local(.DropDown) {
    z-index: 2;
    position: absolute;

    top: $headerHeight;
    @include respond-to(xs) { top: $headerHeightSmall; }
    @include respond-to(s) { top: $headerHeightSmall; }

    right: 0px;
    background: #ffffff;
    box-shadow: -3px 3px 3px $colorGray;

    > ul {
        display: block;
        padding: 5px 0px;
        margin: 0px;
        min-width: 200px;

        > li {
            display: block;
            padding: 0px;
            margin: 0px;

            > a,
            > button {
                width: 100%;
                display: block;
                padding: 0px;
                margin: 0px;
                background: transparent;
                color: $colorText;
                appearance: none;
                text-align: left;
                padding: 10px 20px;
                font-size: 14px;
                border: 0px;
                text-decoration: none;

                svg {
                    font-size: 16px;
                    position: relative;
                    top: 1px;
                }

                > span:first-child {
                    display: inline-block;
                    margin-right: 7px;
                    width: 30px;
                    text-align: center;
                }

                &:hover,
                &:focus {
                    background: $colorGray;
                }
            }
        }
    }

    @include respond-to(xs) {
        position: fixed;
        bottom: 0px;
        overflow-y: auto;
    }
}
