@import 'Globals/Global.scss';

:local(.Container) {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    color: #ffffff;
    padding: 0 10px;
    background: $colorDark;
    @include headerHeight();
}

:local(.Header) {
    display: flex;
    @include headerHeight();

    > div {
        white-space: nowrap;
        padding: 0;
        vertical-align: middle;
        font-size: 0px;

        > * {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

:local(.Left) {
    text-align: left;
}

:local(.Center) {
    text-align: center;
    width: 100%;
}

:local(.Right) {
    text-align: right;
}

:local(.Logo) {
    > img {
        height: 40%;
        position: relative;
        top: 30%;
    }
}

:local(.MenuIcon) {
    display: none !important;

    @include respond-to(xs) { 
        display: inline-block !important;
    }
    @include respond-to(s) { 
        display: inline-block !important;
    }
}

:local(.Bell) {
    * {
        fill: #ffffff;
    }
}