@import '../../../Globals/Global.scss';

:local(.Container) {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    color: #ffffff;
    padding: 0 10px;
    background: $colorMain;
    height: $headerHeight;
}
