@import 'Globals/Global.scss';

:local(.Container) {
    display: block;
    padding: 0;
    margin: 0;
}

:local(.Link) {
    display: block;
    padding: 3px 10px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $colorText;
    text-decoration: none;
    font-size: 14px;

    &:hover {
        background: $colorGray;
        color: getTextColor($colorGray);
    }
}

:local(.Active) {
    background: $colorMain;
    color: getTextColor($colorMain);

    &:hover {
        background: $colorMain;
        color: getTextColor($colorMain);
    }
}

:local(.Icon) {
    display: inline-block;
    margin-right: 5px;
    color: lighten($colorDark, 30%);
}

:local(.IconActive) {
    color: getTextColor($colorMain);
}

:local(.ArrowIcon) {
    border: 0;
    appearance: none;
    background: transparent;
    display: inline-block;
    padding: 0 5px;
    color: $colorDark;

    > svg {
        transition: transform 0.1s linear;
    }
}

:local(.ArrowIconDown) {
    > svg {
        transform: rotate(90deg);
    }
}